{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "reverse proxy demo backend service",
        "description": "reverse proxy backend with get, post endpoints",
        "contact": {
            "email": "stevehu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "proxy.networknt.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/getData": {
            "get": {
                "description": "Return an array of strings",
                "operationId": "getData",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/KeyValue"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "demo_auth": [
                            "proxy.r"
                        ]
                    }
                ]
            }
        },
        "/postData": {
            "post": {
                "description": "Return an array of strings",
                "operationId": "postData",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Key value pair",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/KeyValue"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/KeyValue"
                        }
                    }
                },
                "security": [
                    {
                        "demo_auth": [
                            "proxy.r",
                            "proxy.w"
                        ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "demo_auth": {
            "type": "oauth2",
            "authorizationUrl": "http://localhost:8080/oauth2/code",
            "flow": "implicit",
            "scopes": {
                "proxy.w": "write access",
                "proxy.r": "read access"
            }
        }
    },
    "definitions": {
        "KeyValue": {
            "type": "object",
            "required": [
                "key",
                "value"
            ],
            "properties": {
                "key": {
                    "type": "string",
                    "description": "key"
                },
                "value": {
                    "type": "string",
                    "description": "value"
                }
            }
        }
    }
}