# Singleton service factory configuration/IoC injection
singletons:
  - com.networknt.registry.URL:
    - com.networknt.registry.URLImpl:
        protocol: light
        host: localhost
        port: 8080
        path: consul
        parameters:
          registryRetryPeriod: '30000'
  - com.networknt.consul.client.ConsulClient:
    - com.networknt.consul.client.ConsulClientImpl
  - com.networknt.registry.Registry:
    - com.networknt.consul.ConsulRegistry
  - com.networknt.balance.LoadBalance:
    - com.networknt.balance.RoundRobinLoadBalance
  - com.networknt.cluster.Cluster:
    - com.networknt.cluster.LightCluster
  - javax.sql.DataSource:
    - com.zaxxer.hikari.HikariDataSource:
        jdbcUrl: jdbc:mysql://38.113.162.51:3306/ref?useSSL=false&disableMariaDbDriver
        username: mysqluser
        password: mysqlpw
        maximumPoolSize: 2
        useServerPrepStmts: true
        cachePrepStmts: true
        cacheCallableStmts: true
        prepStmtCacheSize: 4096
        prepStmtCacheSqlLimit: 2048
